<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Portal — Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="login-container ">
    <h2>Welcome, {{ session['user_email'] }}!</h2>

    <a href="{{ url_for('change_password') }}">
    <button class="button">Change Password</button>
    </a>

    <a href="{{ url_for('logout') }}">
    <button class="button">Logout</button>
    </a>

    </div>
    </div>

    <footer>Built by A-Technologies — Productivity Apps for Enterprises</footer>
  </body>
</html>
